@model Tellimus

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Tellimus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tootaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tootaja.TootajaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teenus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teenus.TeenusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kasutaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kasutaja.KasutajaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuupaev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuupaev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aeg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TellimusID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
